* {
    box-sizing: border-box;
    margin: 10px; 
    padding: 0;
    color: white;
    background-color: black;
font-family: 'Courier New', Courier, monospace;    
}


.logo {
    height: 100px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    
}


    .logo img {
        border-radius: 50%;
        width: 89px; 
        height:89px; 
        margin: 10px; 
    }
    


.Barra {
    display: flex;
    margin-top: -89px; 
    align-items: center; 
    justify-content: flex-end; 
    
     
}

.Barra ul {
    list-style: none; 
    margin-right: 20px;
}



.Proyectos {
   
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
}

.Proyectos .fila {
    display: flex;
   
    justify-content: space-around;
    width: 100%; 
}

.Proyectos img {
    margin: -5px; 
    width: 200px; 
    height: 200px;
    border-bottom: 100px solid #00f2fe;
}

.Titulo {
 
    height: 250px;
    margin-top: 100px; 

    padding: 20px;
    text-align: center;
  
    background-size: cover; 
    background-position: center; 
    color: #fff; 
}

.Titulo h1 {
    
    display: inline-block;
    border-bottom: 1px solid #00f2fe;
}

.Contacto{
padding: 30px;
    margin-top: 100px; 
    
}
.Contacto h1 {
    display: inline-block;
    border-bottom: 1px solid #00f2fe; 
}

.Titulo2{
    padding: 30px;
    margin-top: 100px; 
    
}
.Titulo2 h1 {
    display: inline-block;
    border-bottom: 1px solid #00f2fe; 
}

#ini{
    color: #0b0c10;
    background-color: #00f2fe;
    margin-right: 10px;
    padding: 10px;
    
}
.Iconos {
    display: flex;
    justify-content: center; 
}

.Iconos img {
    border-radius: 50%;
    width: 89px; 
    height: 89px;
    margin: 10px; 
}
